= render :partial => 'shared/flash'

= render :partial => 'shared/form_select', :locals => {:default => @form_type}

- if @form_type == :daily_buzz
  = render :partial => 'daily_buzz'

- elsif @form_type == :payroll_hero
  = render :partial => 'payroll_hero'
