.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &.add-space {
    width: 85%;
  }

  > * {
    flex: 1;

    &.flex-sm {
      flex: 0.2;
    }

    &.flex-half {
      flex: 0.5;
    }
  }
}
